footer{
    padding: 0.4rem 0 0;
    opacity: 0.6;
}

.fnav ul{
    display: flex;
    justify-content: center;
}

.fnav li{
    padding: 0 0.24em;
    font-size: 1.74em;
}

.copyright{
    text-align: center;
    font-size: 0.74em;
    padding: 0 0.4rem 0.4rem;
}